/*Import Work sans and Oswald fonts */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body {
    margin: 0;
    background: rgba(34, 34, 34, 1.0);
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: #fff44f;
    font-family: Oswald;
}

header {
    height: 100px;
}

.container {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #fff44f;
}
/*The code below is allowing the header to not disappear after using the floats */
header::after {
    content: '';
    display: table;
    clear: both;
}

/*This formats the logo and allows it to center to the left*/
.logo {
    float: left;
    width: 150px;
    height: 100px;
}

/*This formats the list to center to the right */
nav {
    float: right;
}

/*This formats the  ul in the nav bar and the list-style removes the bullet points from the list*/
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Format the list so that it is horizontal rather than column */
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;
    position: relative;
}

/*Remove the blue underline color from the navigation bar */
nav ul li a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

/*Change color of a when hovered over*/
nav a:hover {
    color: black;
}
/*Create the bars that will appear when we hover. The width is set to 0% to hide initially. Transition set to slow appearance of bar when you hover*/
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 300ms;
}

/*Switch the width to 100% when you hover over the list item*/
nav a:hover::before {
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
}

/*Styling the title and positioning it relative */
#title {
  text-align: center;
  font-size: 100px;
  padding-top: 120px;
  padding-bottom: 0px;
  margin: 0px;
}

.banner {
  background: url('https://media.pitchfork.com/photos/5cb737ea090eeb2dcf25deb8/2:1/w_790/Beyonce%CC%81-Homecoming.jpg') no-repeat center;
  height: 600px;
  background-size: 100% 100%;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 60px 350px 50px 250px 250px;
  grid-gap: 10px;
  margin: 0px;
}
.grid-item {
  display: flex;
  background-color: #fff44f;
  color: black;
}
/*Watch this for some styling ideas! https://www.youtube.com/watch?v=plRcoRqLriw*/

.box1, .box2, .box3, .box4, .box5, .box6, .box7 {
  font-size: 40px;
  text-align: center;
}

.box1 {
  grid-area: 1 / 1 / span 2 / span 2;
  background-image: url("https://data.whicdn.com/images/311415736/large.jpg");
  background-size: cover;
  background-position: 50% 3%;
}

.box2 {
  grid-area: 1 / 3 / span 1 / span 2;
  justify-content: center;
  align-items: center;
}

.box2, .box3, .box6, .box7 {
  opacity: 0.7;
}

.box2:hover,.box3:hover, .box6:hover, .box7:hover {
  opacity: 1.0;
}

.box3 {
  grid-area: 3 / 1 / span 1 / span 2;
  justify-content: center;
  align-items: center;
}

.box4 {
  grid-area: 2 / 3 / span 2 / span 2;
  background-image: url(https://66.media.tumblr.com/57c964289c8ea7483102207642f9b1f4/tumblr_p7krurAyix1rq2er8o1_1280.jpg);
  background-size: cover;
  background-position: 50% 60%;
}

.box5 {
  grid-area: 4 / 1 / span 2 / span 3;
  background-image: url(https://i.kinja-img.com/gawker-media/image/upload/s--r-Jo0KTF--/c_scale,f_auto,fl_progressive,q_80,w_800/y0faxjo9fg4vkklkqvjb.jpg);
  background-size: cover;
  background-position: 50% 20%;
}

.box6 {
  grid-area: 4 / 4 / span 1 / span 1;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.box7 {
  grid-area: 5 / 4/ span 1 / span 1;
  justify-content: center;
  align-items: center;
}

.box2 a, .box3 a, .box6 a, .box7 a {
  color: black;
  text-decoration: none;
}

#link {
  color: #fff44f;
  text-decoration: none;
}